<!DOCTYPE html>
<html style="height: 100%;">
<head>
<title>TIOJ INFOR Online Judge - <%=title%></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
<meta charset="utf-8" />
<style type="text/css">

.mainPageButton a {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dbdbdb) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #dbdbdb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dbdbdb');
	background-color:#ffffff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #c7c7c7;
	border-top-style:solid;
	border-top-color:#036;
	border-top-width:medium;	
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	height:100px;
	line-height:100px;
	width:200px;
	text-decoration:none;
	text-align:center;
}
</style>
</head>
<body>
<div class="container" >
  	<div class="span-24 last">
		<img src ="stylesheets/img/banner.jpg"></img>
	</div>
	<div class = "span-24">
	<div class ="span-12  append-8">
		<iframe width="420" height="315" src="//www.youtube.com/embed/_6-KspZegsE" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class ="span-4 last">
		username or email:<br>
		password:<br>
	</div>
	<div class = "span-24">
		<div class = "span-6">
			<div class = "mainPageButton"><a href="/problems">
				Problems
			</a></div>
		</div>
		<div class = "span-6">
			<div class = "mainPageButton"><a href="/submissions">
				Submissions
			</a></div>
		</div>
		<div class = "span-6">
			<div class = "mainPageButton"><a href="/ranklist">
				Ranklist
			</a></div>
		</div>
		<div class = "span-6 last">
			<div class = "mainPageButton"><a href="/user/register">
				Register
			</a></div>
		</div>
	</div>
	
</div>
    
</body>
</html>




