<!DOCTYPE html>
<html style="height: 100%;">
<head>
<title>TIOJ INFOR Online Judge - <%=title%></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"> 
<link  rel="stylesheet" href="stylesheets/blueprint/login-box.css" type="text/css" media="screen"> 
 <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
<meta charset="utf-8" />
<style type="text/css">
</style>
</head>
<body>
<div class="container" >
  	<div class="span-24 last">
		<img src ="stylesheets/img/banner.jpg"></img>
	</div>
	<div class = "span-24">
	<div class ="span-12  append-8">
		<iframe width="420" height="315" src="//www.youtube.com/embed/_6-KspZegsE" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class ="span-4 last" >
		<div style="background: url(stylesheet/img/login-box-backg.png) no-repeat left top;"">
		<div id="login-box">
		<H2>Login</H2>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		<br />
		<br />
		<div id="login-box-name" style="margin-top:20px;">Username or Email:</div><div id="login-box-field" style="margin-top:20px;"><input name="q" class="form-login" title="Username" value="" size="30" maxlength="2048" /></div>
		<div id="login-box-name">Password:</div><div id="login-box-field"><input name="q" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" /></div>
		<br />
		<span class="login-box-options"><input type="checkbox" name="1" value="1"> Remember Me <a href="#" style="margin-left:30px;">Forgot password?</a></span>
		<br />
		<br />
		<a href="#"><img src="stylesheets/img/login-btn.png" width="103" height="42" style="margin-left:90px;" /></a>
		</div>
		</div>
	</div>
	<div class = "span-24">
		<div class = "span-6">
			<div class = "mainPageButton"><a href="/problems">
				Problems
			</a></div>
		</div>
		<div class = "span-6">
			<div class = "mainPageButton"><a href="/submissions">
				Submissions
			</a></div>
		</div>
		<div class = "span-6">
			<div class = "mainPageButton"><a href="/ranklist">
				Ranklist
			</a></div>
		</div>
		<div class = "span-6 last">
			<div class = "mainPageButton"><a href="/user/register">
				Register
			</a></div>
		</div>
	</div>
	
</div>
    
</body>
</html>




