<!DOCTYPE html>
<html>
<head>
<title>TIOJ INFOR Online Judge - <%=title%></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
<meta charset="utf-8" />
</head>
<body>
<div class="container">
  	<div class="span-24 last">
  		<img src ="stylesheets/img/banner.jpg">
  	</div>
	
  	<div class="span-4" >
		<div id=floatMenu>
        	<ul>
        	    <li><a href="/">Home</a></li>
        	    <li><a href="/problems">Problems</a></li>
        	    <li><a href="/submissions">Submissions</a></li>
        	    <li><a href="/ranklist">Ranklist</a></li>
        	    <li><a href="/user/register">Register</a></li>
        	    <li><a href="/user/login">Login</a></li>
        	</ul>
    		</div>
	</div>
  	<div class="span-16">
  		<%- body %>
  	</div>
  	<div class="span-4 last">
  		The last column
  	</div>
  </div>
    
</body>
</html>
