<!DOCTYPE html>
<html>
<head>
<title>TIOJ INFOR Online Judge - <%=title%></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<meta charset="utf-8" />
</head>
<body>
    <%- body %>
</body>
</html>
