<h4 class="page-header">Editing Article</h4>

<%= render 'form' %>

<%= link_to 'Show Article', @article, :class => 'btn btn-primary btn-xs' %>
<%= link_to 'Back to Bulletin', articles_path, :class => 'btn btn-default btn-xs' %>
