<h4 class="page-header">Editing contest</h4>

<%= render 'form' %>

<%= link_to 'Show Contest', @contest, :class => 'btn btn-primary btn-xs' %>
<%= link_to 'Back to Contests List', contests_path, :class => 'btn btn-default btn-xs' %>
