 <h4 class = "page-header">Users</h4>
 

 <table class ="table">
	<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Email</th>
			<th>Nickname</th>
			<th>Accepted</th>
			</tr>
	</thead>
	
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= image_tag("avatar/#{user.id}.png", :class=>"img-rounded img-responsive ", :size => "25x25") %></td>
			<td><%=user.id%></td>
			<td><%=user.email%></td>
			<td><%=user.nickname%></td>
			<td></td>
		</tr>
		<%end%>
	</tbody>
</table>