<div class="container-fluid">
	<div class="row-fluid">
		<div class = "col-xs-3">
			<img src="http://avatar.3sd.me/100" class="img-rounded img-thumbnail img-responsive"></img>
			<h3>Username</h3>
			<h5>nickname</h5>
		</div>
		<div class = "col-xs-9">
			
		</div>
	</div>
</div>