<!DOCTYPE html>
<html style="height: 100%;">
<head>
<meta charset="utf-8" />
<title>TIOJ INFOR Online Judge</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/flatcss/bootstrap/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/flatcss/css/flat-ui.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/flatcss/css/demo.css" type="text/css">
<link rel="shortcut icon" href="/stylesheets/flatcss/images/favicon.ico">
 <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container" >
	<div class ="row">
		<div class="col-xs-12">
			<img src="/stylesheets/flatcss/images/banner.jpg" alt="banner" class="img-rounded img-responsive" >
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-8 demo-video">
			<!--[if !IE]> -->
			<video class="video-js" controls preload="auto" width="620" height="349" poster="images/video/poster.jpg" data-setup="{}">
			<source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">
			<source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">
			</video>
			<!-- <![endif]-->

			<!--[if IE]>
			<video class="video-js" controls preload="auto" width="620" height="256" poster="http://video-js.zencoder.com/oceans-clip.jpg" data-setup="{}">
			<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'/>
			<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'/>
			</video>
			<![endif]-->
		</div> <!-- /video -->
		<div class="col-xs-3 col-xs-offset-1">
			<h3 class="demo-panel-title">Login</h3>
			<h6>Username or Email:</h6>
			<div class="form-group">
				<input type="text" value="" placeholder="username" class="form-control" />
			</div> 
			<h6>Password:</h5>
			<div class="form-group">
				<input type="password" value="" placeholder="password" class="form-control" />
			</div>
			<a href="#fakelink" class="btn btn-block btn-lg btn-default">Login</a>
		</div>
	</div>
	<br>
	<br>
	<div class = "row">
		 <div class="col-xs-3">
			<a href="/problems" class="btn btn-block btn-lg btn-default">Problems</a>
		</div>
		<div class="col-xs-3">
			<a href="/submissions" class="btn btn-block btn-lg btn-default">Submissions</a>
		</div>
		<div class="col-xs-3">
			<a href="/ranklist" class="btn btn-block btn-lg btn-default">Ranklist</a>
		</div>
		<div class="col-xs-3">
			<a href="/user/register" class="btn btn-block btn-lg btn-default">Register</a>
		</div>
	</div>
</div>
    
</body>
</html>




