<div class="container-fluid" id="container">
    <div class="row-fluid">
        <div class = "col-xs-12">
		<div class="col-xs-3">
			<div class = "col-xs-12 post well well-lg">
			<h5 >Latest Problem</h5>
			Jizzz
			</div>
			<div class = "col-xs-12 post well well-lg">
			<h5>Latest Submissions</h5>
			Jizz again
			</div>
		</div> 
		<div class = "col-xs-6">
			<div class = "col-xs-12 post well well-lg">
			<h3>Bulletin Board</h3>
			Jizz
			</div>
		</div>
		<div class = "col-xs-3 last">
			<div class = "col-xs-12 post well well-lg">
			<h5>Top Ranker</h5>
			Jizz<br\>
			jizzs
		</div>
        </div>
    </div>
</div>
