<h4 class="page-header">Editing testdatum</h4>

<%= render 'form' %>

<!--<%= link_to 'Show', problem_testdatum_path(@problem, @testdatum) %> |-->
<%= link_to 'Back to Testdata List', problem_testdata_path, :class => 'btn btn-default btn-xs' %>
