<h1 class="page-header">About TIOJ <small>INFOR Online Judge</small></h1>
<h3> 2014.4</h3>
建資25th的江懿友(silverneko)與建電33rd的陳力(c221393)加入開發團隊。
<h3> 2014.1 </h3>
於2014年農曆除夕夜前建資25th的陳家陞(qitar888)與蕭從恩(joshua5201)商討TIOJ復站事宜，後以時下最新的Rails4搭配內建的SQLite3做為資料庫開工。
<h3> 源起 </h3>
自從舊TIOJ爛掉到現在也過了兩屆了，在這兩屆中間建中校隊只能到處找別人的Judge寫題目，也由於缺乏一個穩定的培訓環境，導致校隊培訓不易，只能借用建中65th凱祺學長架的step5權做校隊培訓Judge，但是step5畢竟是新架的OnlineJudge，缺乏歷屆學長辛苦搜集來的題目們，所以考完學測的建資25th便揪團試著將TIOJ復站。

