<h4 class="page-header">About TIOJ <small>INFOR Online Judge</small></h4>
<h5>Site Info</h5> 
<div class="well">
This site is powered by Ruby on Rails! <br >
TIOJ Github Repo: <a href="https://github.com/joshua5201/tioj">https://github.com/joshua5201/tioj</a> <br>
miku Github Repo: <a href="https://github.com/silverneko/miku">https://github.com/silverneko/miku</a> <br>
Still in development, any issues or pull requests are welcomed. <br >
</div>
<h5>Contributors</h5>
<div class="well">
  Developers: <br >
  建資25<sup>th</sup> 蕭從恩(joshua5201)<br>
  建資25<sup>th</sup> 陳家陞(qitar888)<br >
  建資25<sup>th</sup> 江懿友(silverneko) <br>
  Debugger and Adviser: <br>
  建電34<sup>th</sup> 丁安立(anlialtting) <br>
  Contributor: <br>
  IOI 29<sup>th</sup> 吳聖福(adrien1018, Yihda Yol) <br>
  IOI 29<sup>th</sup> 蘇柏瑄(briansu) <br>
</div>
<h4>History</h4>
<h5>2014.8</h5>
<div class="well">
正式版網頁上線。將舊TIOJ的題目資料migrate過來。
</div>
<h5>2014.7</h5>
<div class="well">
測試版網頁上線，於建中暑期程式設計快樂營作為練習平台。
</div>
<h5>2014.5</h5>
<div class="well">
建電34<sup>th</sup>的丁安立(anlialtting)加入開發團隊。
</div>
<h5>2014.4</h5>
<div class="well">
建資25<sup>th</sup>的江懿友(silverneko)加入開發團隊。
於即將踏入五月時資料庫換到MySQL2。
</div>
<h5>2014.1</h5>
<div class="well">
於2014年農曆除夕夜前建資25<sup>th</sup>的陳家陞(qitar888)與蕭從恩(joshua5201)商討TIOJ復站事宜，<br>
後以時下最新的Rails4搭配預設的SQLite3做為資料庫開工。
</div>
<h5>源起</h5>
<div class="well">
  在資訊社有悠久傳統的TIOJ(Temporary INFOR Online Judge)，蒐集了上千題優秀題目，是許多人啟蒙及增強實力的平台。<br />
  因為系統老舊故障，有兩屆的時間建中校隊只能到處找別人的Judge寫題目。也由於缺乏一個穩定的培訓環境，導致校隊培訓不易。
  <br>只能借用建中65<sup>th</sup>黃凱祺學長架的step5權做校隊培訓Judge，但是step5畢竟是新架的OnlineJudge，缺乏歷屆學長辛苦搜集來的題目們，所以考完學測的建資25<sup>th</sup>們便揪團試著將TIOJ復站。
</div>
