<h4 class="page-header">About TIOJ <small>INFOR Online Judge</small></h4>
<h5>2014.7</h5>
<div class="well">
測試版網頁上線，於暑假程式設計快樂營作為練習平台。
</div>
<h5>2014.5</h5>
<div class="well">
建電34<sup>th</sup>的丁安立(anlialtting)加入開發團隊。
</div>
<h5>2014.4</h5>
<div class="well">
建資25<sup>th</sup>的江懿友(silverneko)加入開發團隊。
於即將踏入五月時資料庫換到MySQL2。
</div>
<h5>2014.1</h5>
<div class="well">
於2014年農曆除夕夜前建資25<sup>th</sup>的陳家陞(qitar888)與蕭從恩(joshua5201)商討TIOJ復站事宜，<br>
後以時下最新的Rails4搭配預設的SQLite3做為資料庫開工。
</div>
<h5>源起</h5>
<div class="well">
自從舊TIOJ爛掉到現在也過了兩屆了，在這兩屆中間建中校隊只能到處找別人的Judge寫題目，<br>
也由於缺乏一個穩定的培訓環境，導致校隊培訓不易，只能借用建中65<sup>th</sup>黃凱祺學長架的step5權做校隊培訓Judge，<br>
但是step5畢竟是新架的OnlineJudge，缺乏歷屆學長辛苦搜集來的題目們，所以考完學測的建資25<sup>th</sup>便揪團試著將TIOJ復站。
</div>
