// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title_problem_id {
    font-color: black;
}
div.post {
//    background-color: rgb(245, 245, 245); 
    margin-top:10px; 
    margin-bottom:10px;
}
div.comment {
//    background-color:rgb(250, 250, 250);
    padding-left: 30px;
}

div.post_content {
//    font-color: black;
}
div.comment_content {
 //   font-color:back ;
}

