<!DOCTYPE html>
<html style="height: 100%;">
<head>
<meta charset="utf-8" />
<title>TIOJ INFOR Online Judge</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<link rel="stylesheet" href="stylesheets/flatcss/bootstrap/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="stylesheets/flatcss/css/flat-ui.css" type="text/css">
<link rel="stylesheet" href="stylesheets/flatcss/css/demo.css" type="text/css">
<link rel="stylesheet"  href="stylesheets/flatcss/css/menu_source/styles.css" type="text/css">
<link rel="shortcut icon" href="stylesheets/flatcss/images/favicon.ico">


<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class ="row">
        <div class="col-xs-12">
            <img src="stylesheets/flatcss/images/banner.jpg" alt="banner" class="img-rounded img-responsive" >
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">           
                <li><a href="/">Home</a></li>
		<li><a href="/problems">Problems</a></li>
                <li><a href="/submissions">Submissions</a></li>
		<li><a href="/ranklist">Ranklist</a></li>
		<li><a href="/user/userfile">Userfile</a></li>
	       </ul>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
    <div class="row">
	<div class = "col-xs-12">
		<%= yield %>
	</div>
    </div>
    
</div>
</body>
</html>
