<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8" />
<title>TIOJ INFOR Online Judge</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<link rel="stylesheet" href="/stylesheets/flatcss/bootstrap/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/flatcss/css/flat-ui.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/flatcss/css/demo.css" type="text/css">
<link rel="stylesheet"  href="/stylesheets/flatcss/css/menu_source/styles.css" type="text/css">
<link rel="shortcut icon" href="/stylesheets/flatcss/images/favicon.ico">
<link href="/stylesheets/flatcss/bootstrap/css/bootstrap-docs.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
<style>
body{
	padding-top:70px;
}
</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation" style="background-color:#003365">    
<div class="row-fluid">
        <div class="col-xs-12">
		<div class="row-fluid">
			<img src="/stylesheets/flatcss/images/banner_2.jpg">
		</div>
		<div class = "row-fluid">
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
			<ul class="nav navbar-nav navbar-left">           
				<li><a href="/">Home</a></li>
				<li><a href="/problems">Problems</a></li>
				<li><a href="/submissions">Submissions</a></li>
				<li><a href="/ranklist">Ranklist</a></li>
				<li><a href="/user/userfile">Userfile</a></li>
				<li><a>Login</a></li>
			</ul>
	       </div>
	       </div>
	</div>
	<!-- /.navbar-collapse -->
</div>
</div> <!-- /navbar -->
<div class="container-fluid">
    <div class="row-fluid">
	<div class = "col-xs-12">
		<%= yield %>
	</div>
    </div>
    
</div>
</body>
</html>
